.personBox {
    width: 290px;
    padding: 1.5rem;
    background-color:var(--background-white);
    box-shadow: rgba(0, 0, 0, .1) 0 5px 20px;
    text-align: center;
    border-radius: 20px;
    float: left;
}

.statistics{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.h5,.h3{
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
}

.h3{
    font-weight: 600;
    font-size: 1.25rem;
}

.h5{
    color: var(--color-gary);
    font-size: 0.875rem;
}

.a{
    width: 25px;
    height: 25px;
    display: inline-block;
}

.userImage {
    border-radius: 50%;
}